<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to LMS, <%= @user.name %></h1>
    <p>
      Business Developer has assigned you a Phase. Please respond to your assignment by either Accepting it or Adding Comments(if you will not be able to do it).<br>
    </p>
    <p>
      To submit your response please click here: <%= @resp_url %>.
    </p>
    <p>
      To view phase details please click here: <%= @phase_url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
