<h1>Phase Assignment Response</h1>
<p>Please Select One From the Following</p>
<br/>
<%= link_to "Accept Phase", respond_lead_phase_path,method: :post, class:"btn btn-dark" %>
<%= link_to "Add Comments", respond_lead_phase_path,method: :put, class:"btn btn-dark" %>
