<h1>Phase Assignment Response</h1>
<p>Please Select One From the Following</p>
<br/>
<%= link_to "Accept Phase", respond_lead_phase_path,method: :post, class:"btn btn-dark" %>
<button type="button" class="btn btn-dark">Add Comments</button>

